
@{
    ViewData["Title"] = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V4</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*<link rel="icon" type="image/png" href="~/Bootstrap Login/images/icons/favicon.ico" />*@
    <link rel="icon" type="image/png" href="~/Bootstrap/Bootstrap Login/images/icons/favicon.ico" />

    @*<link href="~/Bootstrap Login/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Bootstrap/Bootstrap Login/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />

    @*<link href="~/Bootstrap Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />*@
    <link href="~/Bootstrap/Bootstrap Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    @*<link href="~/Bootstrap Login/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />*@
    <link href="~/Bootstrap/Bootstrap Login/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />

    @*<link href="~/Bootstrap Login/vendor/animate/animate.css" rel="stylesheet" />*@
    <link href="~/Bootstrap/Bootstrap Login/vendor/animate/animate.css" rel="stylesheet" />

    @*<link href="~/Bootstrap Login/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />*@
    <link href="~/Bootstrap/Bootstrap Login/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />

    @*<link href="~/Bootstrap Login/vendor/animsition/css/animsition.min.css" rel="stylesheet" />*@
    <link href="~/Bootstrap/Bootstrap Login/vendor/animsition/css/animsition.min.css" rel="stylesheet" />
    @*<link href="~/Bootstrap Login/vendor/select2/select2.css" rel="stylesheet" />*@
    <link href="~/Bootstrap/Bootstrap Login/vendor/select2/select2.css" rel="stylesheet" />
    @*<link href="~/Bootstrap Login/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />*@
    <link href="~/Bootstrap/Bootstrap Login/vendor/daterangepicker/daterangepicker.css" rel="stylesheet" />

    @*<link href="~/Bootstrap Login/css/util.css" rel="stylesheet" />*@
    <link href="~/Bootstrap/Bootstrap Login/css/util.css" rel="stylesheet" />
    @*<link href="~/Bootstrap Login/css/main.css" rel="stylesheet" />*@
    <link href="~/Bootstrap/Bootstrap Login/css/main.css" rel="stylesheet" />

    <style>
        .container-login100 {
            background-image: url('bootstrap/bootstrap login/images/bg-01.jpg');
        }
    </style>

</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-title p-b-49">
                        Login
                    </span>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span class="label-input100">Nombre de usuario</span>
                        <input class="input100" type="text" name="usuario" placeholder="Introduce tu nombre de usuario">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span class="label-input100">Contraseña</span>
                        <input class="input100" type="password" name="password" placeholder="introduce tu contraseña">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>
                    <div class="text-right p-t-8 p-b-31">
                        <a href="#">
                            ¿Olvidaste tu contraseña?
                        </a>
                    </div>
                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button type="submit" class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>
                    @ViewBag.Mensaje
                    @*<div class="txt1 text-center p-t-54 p-b-20">
            <span>
                Or Sign Up Using
            </span>
        </div>*@
                    @*<div class="flex-c-m">
            <a href="#" class="login100-social-item bg1">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="login100-social-item bg2">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="login100-social-item bg3">
                <i class="fa fa-google"></i>
            </a>
        </div>*@
                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>


    @*<script src="~/Bootstrap Login/vendor/jquery/jquery-3.2.1.min.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>*@
    <script src="~/Bootstrap/Bootstrap Login/vendor/jquery/jquery-3.2.1.min.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>

    @*<script src="~/Bootstrap Login/vendor/animsition/js/animsition.min.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>*@
    <script src="~/Bootstrap/Bootstrap Login/vendor/animsition/js/animsition.min.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>

    @*<script src="~/Bootstrap Login/vendor/bootstrap/js/popper.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>*@
    <script src="~/Bootstrap/Bootstrap Login/vendor/bootstrap/js/popper.js"  type="4f939de8b1e7f4ed94f19430-text/javascript"></script>
    @*<script src="~/Bootstrap Login/vendor/bootstrap/js/bootstrap.min.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>*@
    <script src="~/Bootstrap/Bootstrap Login/vendor/bootstrap/js/bootstrap.min.js"  type="4f939de8b1e7f4ed94f19430-text/javascript"></script>

    @*<script src="~/Bootstrap Login/vendor/select2/select2.min.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>*@
    <script src="~/Bootstrap/Bootstrap Login/vendor/select2/select2.min.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>

    @*<script src="~/Bootstrap Login/vendor/daterangepicker/moment.min.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>*@
    <script src="~/Bootstrap/Bootstrap Login/vendor/daterangepicker/moment.min.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>
    @*<script src="~/Bootstrap Login/vendor/daterangepicker/daterangepicker.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>*@
    <script src="~/Bootstrap/Bootstrap Login/vendor/daterangepicker/daterangepicker.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>

    @*<script src="~/Bootstrap Login/vendor/countdowntime/countdowntime.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>*@
    <script src="~/Bootstrap/Bootstrap Login/vendor/countdowntime/countdowntime.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>

    @*<script src="~/Bootstrap Login/js/main.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>*@
    <script src="~/Bootstrap/Bootstrap Login/js/main.js" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="4f939de8b1e7f4ed94f19430-text/javascript"></script>
    <script type="4f939de8b1e7f4ed94f19430-text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="4f939de8b1e7f4ed94f19430-|49" defer=""></script>
</body>
</html>



