@{
    ViewData["Title"] = "_MenuEmpleado";
}
@if (Context.User.Identity.IsAuthenticated == true)
{
    <li class="nav-item">
        <a asp-action="CerrarSesion" class="nav-link" asp-controller="Manage">
            Cerrar sesión <span style="color:white"></span>
        </a>
    </li>
}
